:root {
  --body: #f7f9fe;
  --fntclr: #50658e;
  --bright: #fff;
  --alert: #ff5464;
}

.bg-body {
  background-color: var(--body) !important;
}

.bg-frntdark {
  background-color: var(--fntclr) !important;
}
.bg-bright {
  background-color: var(--bright) !important;
}

.f-alert{
  color:var(--alert) !important;
}

.brdAlert{
  border-color:var(--alert) !important;
}

.f-color {
  color: var(--fntclr);
}

.f-bright {
  color: var(--bright);
}

.fw-600 {
  font-weight: 600;
}

/* recent donor nd recent request css */

.title {
  font-size: 2.5em;
  font-weight: 700;
  color: #50658e;
}

.table td {
  font-weight: 500;
  color: #626771;
  text-align: center;
}

.table th {
  text-align: center;
}

/*  recent donor nd recent request css */

/* list page css */

.bloodfilter ul {
  margin: 4px 0;
  display: flex;
  justify-content: center;
}

.bloodfilter ul li {
  list-style: none;
  float: left;
  width: calc(100% / 8 - 1.5%);
  background-color: var(--fntclr);
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
  margin: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloodfilter ul li span {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--bright);
}

.donor-card {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border-radius: 2px;
  background-color: var(--bright);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 6%);
}

.donor-card div div img {
  width: 55%;
}

.donor-card div div span {
  font-size: 1rem;
  font-weight: 700;
}

.donor-card .donor-dtl ul {
  padding: 0;
  font-size: 1rem;
}

.donor-card .donor-dtl ul li {
  list-style: none;
  margin: 2px 0;
}

.donor-card .donor-dtl ul li span {
  font-size: 0.9em;
  letter-spacing: 0.7px;
  font-weight: 500;
  text-transform: capitalize;
}

.donor-card div a {
  background-color: var(--fntclr) !important;
}
